/* Frozen_Account.css */

/* ボディ全体の背景色を真っ黒に設定 */
body {
    background-color: #000; /* 背景色を真っ黒に設定 */
}

/* コンテナ */
.container {
    max-width: 600px; /* コンテナの最大幅 */
    margin: 50px auto; /* コンテナを水平中央に配置 */
    padding: 20px; /* パディング */
    background-color: #000000; /* 赤色の背景 */
    border-radius: 10px; /* 角丸 */
    text-align: center; /* テキストを中央揃え */
    color: #fff; /* テキスト色 */
}

/* 警告メッセージ */
h1 {
    font-size: 36px; /* メインタイトルのフォントサイズ */
    margin-top: 0; /* 上部の余白を削除 */
}

/* 注意書き */
.warning {
    font-size: 24px; /* フォントサイズ */
    font-weight: bold; /* 太字 */
    color: #cc0000; /* 赤色のテキスト */
}
