<<<<<<< HEAD

  table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
=======
table {
    border-collapse: collapse;
    margin:auto;
  }
  table th, table td {
    border: solid 1px black;
    /*実線 1px 黒*/
    text-align: center;
padding-left: 2px;
padding-right: 2px;
  }
>>>>>>> 5e1ab1915062f0f93950b1ac0f78c800445274bc
  .a{
  margin: 10px auto;
  width:50px;
  }
  .b{
    text-align: center;
    margin: 50px auto 50px;

  }