p{ text-indent: 30em;}
.a {
    margin: 10px auto;
    width:100px;

  }
  .b{
  position: absolute;
top: 160px;
    left:510px;
  }
  .wrap {
    height: 100px;
    width: 600px;
    position: absolute;
    transform-origin: 0% 0%;
}