body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

nav {
    background-color: #f4f4f4;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: block; /* ブロック要素として表示する */
    margin-bottom: 10px; /* 各項目の下に余白を追加する */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block; /* ブロック要素として表示する */
}

nav ul li a:hover {
    background-color: #ddd;
}
