       /* Report_Receive.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.report-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.report-table th,
.report-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.report-table th {
    background-color: #333;
    color: white;
    text-align: center;
}

.report-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.report-table tr:hover {
    background-color: #f1f1f1;
}

.report-link {
    color: #337ab7;
    text-decoration: none;
}

.report-link:hover {
    text-decoration: underline;
}

button {
    display: block;
    width: 150px;
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
}

button:hover {
    background-color: #333;
}

p {
    text-align: center;
    color: #777;
    font-size: 16px;
}
