table {
    border-collapse: collapse;
    margin:auto;
  }
  table th, table td {
    border: solid 1px black;
    /*実線 1px 黒*/
  }
  .a {
    margin: 10px auto;
    width:50px;

  }
  h1{
    text-align:center
  }